/*Media queries*/

/*Index-Home*/
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2);
        grid-template-rows: repeat(6);
        grid-template-areas:
            "a1 a2"
            "a3 a4"
            "a5 a6"
            "a7 a8"
            "a9 a10"
            "a11 a12";
    }
}

@media (max-width: 480px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
}

/*Product-Cards*/
@media (max-width: 768px) {
    .cards {
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
}

@media (max-width: 480px) {

    /*COMO ARREGLO "THIS MONTHS BOX PARA Q QUEDE CENTRADA??*/
    .cards {
        flex-direction: column;
    }
}

/*Contact-Map*/

/*cityContainer / traditionsContainer*/

@media (max-width:1211px) {
    .cardsContent img {
        width: 250px;
        display: block;
        position: absolute;
    }

    .cardsContent p {
        flex-wrap: wrap;
        position: relative;
        text-align: center;
    }
}

@media (max-width:768px) {
    .cardsContent img {
        width: 250px;
        display: block;
        position: absolute;
    }

    .cardsContent p {
        width: 550px;
        flex-wrap: wrap;
        position: relative;
        text-align: center;
    }
}

@media (max-width:620px) {
    .cardsContent img {
        width: 250px;
        display: block;
        position: absolute;
    }

    .cardsContent p {
        width: 500px;
        flex-wrap: wrap;
        position: relative;
        text-align: center;

    }
}

@media (max-width:500px) {
    .cardsContent img {
        width: 250px;
        display: block;
        position: absolute;
    }

    .cardsContent p {
        width: 400px;
        flex-wrap: wrap;
        position: relative;
        text-align: center;
    }
}

@media (max-width:430px) {
    .cardsContent img {
        width: 350px;
        display: block;
        position: absolute;
    }

    .cardsContent p {
        width: 350px;
        flex-wrap: wrap;
        position: relative;
        text-align: center;

    }
}