/*Media queries*/

/*Index-Home*/
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2);
        grid-template-rows: repeat(6);
        grid-template-areas:
            "a1 a2"
            "a3 a4"
            "a5 a6"
            "a7 a8"
            "a9 a10"
            "a11 a12";
    }
}

@media (max-width: 480px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
}

/*Product-Cards*/
@media (max-width: 768px) {
    .cards {
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
}

@media (max-width: 480px) {
    .cards {
        flex-direction: column;
    }
}

/*Cities-Traditions*/
